{% extends 'base_logged_in.html' %}
{% block content %}
<div class="container mt-5">
    <h2>{{ list.name }}</h2>

    <div class="mb-3">
        <a href="{% url 'dashboard' %}" class="btn btn-success">Back to Dashboard</a>
    </div>

    <div class="list-group mb-4">
        {% for item in items %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            {{ item.name }} - {{ item.quantity }}
            <div>
                <button class="btn btn-sm btn-warning" onclick="showEditForm({{ item.id }})">Edit</button>
                <a href="{% url 'delete_item' item.id %}" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </div>
        <!-- Edit form for the current item -->
        <form id="editForm{{ item.id }}" method="post" action="{% url 'edit_item' item.id %}"style="display: none;">
            {% csrf_token %}
            <input type="text" name="name" value="{{ item.name }}">
            <input type="number" name="quantity" value="{{ item.quantity }}">
            <button type="submit" id="button">Save</button>
        </form>

        {% endfor %}
    </div>
    <form method="POST" action="{% url 'add_item' list.id %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" placeholder="Item name" required>
            <input type="number" class="form-control" name="quantity" placeholder="Quantity" required>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Add Item</button>
            </div>
        </div>
    </form>
</div>

<script>
    function showEditForm(itemId) {
        const form = document.getElementById('editForm' + itemId);
        form.style.display = 'block';
    }
    </script>

{% endblock %}
